h1{
    font-size: 50px;
    color:rgb(146, 82, 206);
padding-left: 100px;
    
}
body {

    background-repeat: no-repeat;
    background-size: 100%;
  }
.planeta{
    width: 100px;
    height: 100px;
    padding-left: 40px;
}
#jupiter{
    padding-left: 80px;
    width: 60px;
    height: 70px;
}
#terra{
    border-color: black;
    border-radius: 90px;
}
#senac{
    padding-left: 300px;
    padding-top: 450px;
    width: 100px;
    height: 70px;
}

